downloads/*
.mixin.out/*
itemscroller/*
journeymap/*
logs/*
mods/*
resourcepacks/*
saves/*
snapshot-server/*
.curseclient
.ReAuth.cfg
crafttweaker.log
options.txt
usercache.json
usernamecache.json
WurmTweaks.log
wurmtweaks2.log

a\.gitignore
